@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  input:focus,
  input:focus-visible,
  textarea:focus,
  textarea:focus-visible,
  select:focus,
  select:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus-within,
  textarea:focus-within,
  select:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  body {
    @apply bg-palette-background text-palette-text antialiased selection:bg-palette-primary/20 selection:text-palette-primaryDark;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
